.reviewsContainer {
    text-align: center;
    font-size: 24px;
  }
  
  .reviewsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .reviewsText {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .reviewsImages {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .infoMessage {
    padding: 5px 15px;
    margin-left: 24px;
    margin-right: 24px;
    display: block;
    font-size: 16px;
    background-color: rgba(205, 92, 92);
    color: white;
    border-radius: 8px;
  }